import(ape)
import(reshape2)
import(RJSONIO)
import(data.table)
import(modeest)
import(vegan)
import(RCurl)
import(rgbif)
import(plyr)
import(stats)
import(utils)
import(methods)
import(maptools)
import(graphics)
import(datasets)
import(grDevices)
import(lattice)
exportPattern("^[^\\.]")


